# macOS general
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon\r
# Thumbnails
._*
# Finder and Spotlight
.Spotlight-V100
.Trashes
.TemporaryItems
.fseventsd
.VolumeIcon.icns
.DocumentRevisions-V100
# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
profile/ 
# Swift Package Manager
/.build/
/.swiftpm/
Package.resolved
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# SPM
.build/
# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
# Editor temp files
*~
*.swp
*.swo
